# APP

APP_ENV=LOCAL
APP_PORT=8000
APP_PREFIX='/'

# DB CONFIG

DB_DIALECT=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=
DB_LOGGING=false

# JWT

JWT_SECRET=my_jwt_secret_key
JWT_EXPIRATION=1h

# STORAGE

TEMP_PATH=temp

## MINIO

MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
MINIO_USE_SSL=

## WHATSAPP

WHATSAPP_API_KEY=
